html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* - Stone 100: hsl(30, 54%, 90%) */

body {
  background-color: hsl(30, 54%, 90%);
  font-family: "Outfit", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
}

.container {
  max-width: 600px;
  border-radius: 10px;
  padding: 20px;
  color: hsl(30, 10%, 34%);
  background-color: hsl(0, 0%, 100%);
}

.container img {
  width: 100%;
  border-radius: 10px;
}

h1 {
  color: hsl(24, 5%, 18%);
}

h2,
li::marker {
  color: hsl(14, 45%, 36%);
}

.time {
  background: rgba(165, 50, 80, 0.0458);
  border-radius: 10px;
  padding: 20px;
}

.time h3,
.time li::marker {
  color: hsl(332, 51%, 32%);
}

li {
  text-indent: 12px;
}

li::marker {
  font-weight: bold;
  margin-right: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr td {
  padding: 10px;
  border-bottom: 1px solid hsl(0, 0%, 90%);
}

hr {
  border: none;
  border-top: 1px solid hsl(0, 0%, 90%);
}

tr:last-child td {
  border-bottom: none;
}

tr td:nth-child(2){
  font-weight: bold;
  color: hsl(14, 45%, 36%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
